body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #3498db, #2ecc71);
    margin: 0;
    color: #35584b;       
    height: 100vh;
}

#clickableDiv {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#contactsContainer {
    max-width: 450px;
    margin: 20px auto;
    padding: 20px;
    background-color: linear-gradient(to bottom right, #3498db, #2ecc71);
    box-shadow: 0 0 20px rgba(52, 74, 77, 0.9);
    border-radius: 8px;
}

.contact {
    display: block;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: linear-gradient(to bottom right, #578bae, #5bbf85);
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(41, 71, 75, 0.2);
}

.contact:hover {
    background-color: #26bdb8;
}

.contact img {
    float: right;
    border-radius: 50%;
    margin: 10px;
}

.edit-btn, .delete-btn, .more-btn {
    margin: 10px;
    padding: 8px;
    cursor: pointer;
}

.edit-btn{
    background-color: rgb(77, 163, 163);
    border-radius: 4px;
    color: #a2e8d9;
}

.edit-btn:hover {
    background-color: rgb(143, 166, 57);
}

.delete-btn:hover {
    background-color: rgb(184, 56, 56);
}

.delete-btn{
    background-color: rgb(77, 163, 163);
    border-radius: 4px;
    color: #a2e8d9;
}

.more-btn:hover {
    background-color: rgb(93, 160, 196);
}

.more-btn{
    background-color: rgb(77, 163, 163);
    border-radius: 4px;
    color: #a2e8d9;
}

.addButton{
    color: #a2e8d9;
    background-color: rgb(77, 163, 163);
    height: 80px;
    width: 80px;
    border-radius: 32px;
    margin-left: 40px;
    cursor: pointer;
}

.addButton:hover {
    background-color: #45a049;
}